body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    color: #333;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
}

.logo:hover{
    font-size: 25px;
    font-weight: bold;
}

/* Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #849531;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #849531;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}
