<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deletion | TravelBalance</title>
    <link rel="stylesheet" href="../../static/css/policies_style.css">
    <link rel="stylesheet" href="../../static/css/header.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo-content"> 
            <a href="{% url 'home' %}"><img src="../../media/icons/logo.svg" class="logo" alt="Logo">TravelBalance</a>
        </div>
    </header>

    <div class="container">
        <h1>How to Delete Your Account</h1>
  
        <p>Follow these instructions to delete your account from the application:</p>
        
        <h2>Steps to Delete Your Account</h2>
        <ul>
            <li><strong>Log in:</strong> Log in to the application using your credentials.</li>
            <li><strong>Open the options menu:</strong> In the main window, click the options button located in the top-right corner. It is represented by this symbol: ☰.</li>
            <li><strong>Select "Delete Account":</strong> From the options menu, choose the "Delete Account" option.</li>
            <li><strong>Follow the on-screen instructions:</strong> Carefully read and follow the instructions displayed on your screen to complete the process.</li>
        </ul>
        
        <h3>Note:</h3>
        <p>Make sure you are certain about deleting your account, as this action is irreversible.</p>
    </div>
</body>
</html>